
            <div class="scheduleSubjectItem">
                        <div class="subjectCounterSide">
                            <div class="subjectCounter-part1">1</div>
                            <div class="subjectCounter-part2"></div>
                        </div>
                        <div class="subjectInfo">
                            <div class="subjectName">ПП.01 Производственная практика (по профилю специальности) </div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/teacher.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Преподаватель</div>
                                    <div class="subjectInfoPartDesc">Алексенко Оксана Юрьевна</div>
                                </div>
                            </div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/auditory.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Аудитория</div>
                                    <div class="subjectInfoPartDesc">дистант / не указано</div>
                                </div>
                            </div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/group.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Подгруппа</div>
                                    <div class="subjectInfoPartDesc" data-subject-group>нет информации</div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            <div class="scheduleSubjectItem">
                        <div class="subjectCounterSide">
                            <div class="subjectCounter-part1">5</div>
                            <div class="subjectCounter-part2"></div>
                        </div>
                        <div class="subjectInfo">
                            <div class="subjectName">ПП.01 Производственная практика (по профилю специальности) </div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/teacher.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Преподаватель</div>
                                    <div class="subjectInfoPartDesc">Алексенко Оксана Юрьевна</div>
                                </div>
                            </div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/auditory.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Аудитория</div>
                                    <div class="subjectInfoPartDesc">дистант / не указано</div>
                                </div>
                            </div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/group.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Подгруппа</div>
                                    <div class="subjectInfoPartDesc" data-subject-group>нет информации</div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            <div class="scheduleSubjectItem">
                        <div class="subjectCounterSide">
                            <div class="subjectCounter-part1">6</div>
                            <div class="subjectCounter-part2"></div>
                        </div>
                        <div class="subjectInfo">
                            <div class="subjectName">ПП.01 Производственная практика (по профилю специальности) </div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/teacher.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Преподаватель</div>
                                    <div class="subjectInfoPartDesc">Алексенко Оксана Юрьевна</div>
                                </div>
                            </div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/auditory.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Аудитория</div>
                                    <div class="subjectInfoPartDesc">дистант / не указано</div>
                                </div>
                            </div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/group.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Подгруппа</div>
                                    <div class="subjectInfoPartDesc" data-subject-group>нет информации</div>
                                </div>
                            </div>
                        </div>
                    </div>
                