
            <div class="scheduleSubjectItem">
                        <div class="subjectCounterSide">
                            <div class="subjectCounter-part1">1</div>
                            <div class="subjectCounter-part2"></div>
                        </div>
                        <div class="subjectInfo">
                            <div class="subjectName">Индивидуальный проект</div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/teacher.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Преподаватель</div>
                                    <div class="subjectInfoPartDesc">Глухова Людмила Алексеевна</div>
                                </div>
                            </div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/auditory.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Аудитория</div>
                                    <div class="subjectInfoPartDesc">2212</div>
                                </div>
                            </div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/group.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Подгруппа</div>
                                    <div class="subjectInfoPartDesc" data-subject-group>нет информации</div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            <div class="scheduleSubjectItem">
                        <div class="subjectCounterSide">
                            <div class="subjectCounter-part1">2</div>
                            <div class="subjectCounter-part2"></div>
                        </div>
                        <div class="subjectInfo">
                            <div class="subjectName">МДК.01.04 Системное программирование</div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/teacher.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Преподаватель</div>
                                    <div class="subjectInfoPartDesc">Сабельникова Ольга Александровна</div>
                                </div>
                            </div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/auditory.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Аудитория</div>
                                    <div class="subjectInfoPartDesc">2210</div>
                                </div>
                            </div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/group.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Подгруппа</div>
                                    <div class="subjectInfoPartDesc" data-subject-group>нет информации</div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            <div class="scheduleSubjectItem">
                        <div class="subjectCounterSide">
                            <div class="subjectCounter-part1">3</div>
                            <div class="subjectCounter-part2"></div>
                        </div>
                        <div class="subjectInfo">
                            <div class="subjectName">Инострaнный язык</div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/teacher.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Преподаватель</div>
                                    <div class="subjectInfoPartDesc">Сердюкова Надежда Анатольевна</div>
                                </div>
                            </div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/auditory.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Аудитория</div>
                                    <div class="subjectInfoPartDesc">1206</div>
                                </div>
                            </div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/group.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Подгруппа</div>
                                    <div class="subjectInfoPartDesc" data-subject-group>1</div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            <div class="scheduleSubjectItem">
                        <div class="subjectCounterSide">
                            <div class="subjectCounter-part1">3</div>
                            <div class="subjectCounter-part2"></div>
                        </div>
                        <div class="subjectInfo">
                            <div class="subjectName">Инострaнный язык</div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/teacher.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Преподаватель</div>
                                    <div class="subjectInfoPartDesc">Должикова Галина Михайловна</div>
                                </div>
                            </div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/auditory.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Аудитория</div>
                                    <div class="subjectInfoPartDesc">3201</div>
                                </div>
                            </div>
                            <div class="subjectInfoPart">
                                <div class="infoIcon">
                                    <img alt="teacher" src="./private/assets/imgs/group.svg">
                                </div>
                                <div class="infoText">
                                    <div class="subjectInfoPartHeader">Подгруппа</div>
                                    <div class="subjectInfoPartDesc" data-subject-group>2</div>
                                </div>
                            </div>
                        </div>
                    </div>
                