html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    font-family: Inter, sans-serif;
    margin: 0;
    user-select: none;
    color: white;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

@media screen and (max-width: 560px) {
    .appDiv {
        .adaptiveLayout {
            .appCardHeader {
                margin-bottom: 25px !important;
                a {
                    font-size: 0.8rem !important;
                }
            }
            .mainHeader {
                font-size: 1.5rem !important;
            }
            .mainDesc {
                font-size: 0.8rem !important;
                margin-bottom: 25px !important;
            }
            .downloadBtn {
                font-size: 0.8rem !important;
            }
            .fileInfo {
                font-size: 0.8rem !important;
            }
        }
    }
}

.appDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #121224;
    .adaptiveLayout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 550px;
        width: 100%;
        height: 100%;
        .appCardHeader {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 50px;
            transition: margin-bottom .25s cubic-bezier(.35,0,0,1);
            img {
                width: 128px;
            }
            a {
                margin-left: 8px;
                transition: .25s cubic-bezier(.35,0,0,1);
                color: #484899;
                text-decoration: underline;
                text-decoration-color: transparent;
            }
            a:hover {
                text-decoration-color: #484899;
            }
        }
        .mainHeader {
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 10px;
            transition: .25s cubic-bezier(.35,0,0,1);
        }
        .mainDesc {
            margin-bottom: 50px;
            transition: all .25s cubic-bezier(.35,0,0,1);
        }
        .downloadBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            background-color: #006516;
            outline: 2px solid #00a222;
            outline-offset: -2px;
            text-decoration: none;
            border-radius: 10px;
            font-weight: 400;
            cursor: pointer;
            transition: .2s cubic-bezier(.35,0,0,1);
            margin-bottom: 10px;
        }
        .downloadBtn:hover {
            outline: 2px solid #006616;
            background-color: #00420e;
        }
        .downloadBtn:active {
            transform: scale(0.95);
        }
        .fileInfo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            transition: .25s cubic-bezier(.35,0,0,1);
            color: #363648;
            a {
                margin-left: 8px;
                transition: color, text-decoration-color .25s cubic-bezier(.35,0,0,1);
                color: #484899;
                text-decoration: underline;
                text-decoration-color: transparent;
            }
            a:hover {
                text-decoration-color: #484899;
            }
        }
    }

}