:root[theme="nord"] {
    --app-bg: #121224;

    --btn-static: #242436;
    --btn-hover: #303042;
    --btn-active: #363648;
    --btn-static-outline: transparent;
    --btn-active-outline: #8484ad;
    --btn-weekday-label: #8484ad;

    --dropdown-static: #242436;
    --dropdown-hover: #303042;
    --dropdown-active: #363648;
    --dropdown-content-side: #363648;

    --other-containers-bg: #242436;

    --btn-essential-outline: #8484ad;
    --btn-essenital-static: transparent;
    --btn-essential-hover: rgba(132 132 173 / 0.1);

    --schedule-container-bg: #242436;
    --schedule-side: #363648;

    --global-text: #fff;
    --additional-text: #656572;
    --muted-text: #363648;
    --link-text: #059bc8;

    --global-curve: cubic-bezier(.53,0,0,.98)
}
:root[theme="light"] {
    --app-bg: #fff;

    --btn-static: #e6e6e6;
    --btn-hover: #d2d2d2;
    --btn-active: #bebebe;
    --btn-static-outline: transparent;
    --btn-active-outline: #000;
    --btn-weekday-label: #000;

    --dropdown-static: #e6e6e6;
    --dropdown-hover: #d2d2d2;
    --dropdown-active: #363648;
    --dropdown-content-side: #363648;

    --other-containers-bg: #e6e6e6;

    --btn-essential-outline: #8484ad;
    --btn-essenital-static: transparent;
    --btn-essential-hover: rgba(132 132 173 / 0.1);

    --schedule-container-bg: #e6e6e6;
    --schedule-side: #bebebe;

    --global-text: #000;
    --additional-text: #969696;
    --muted-text: #494949;
    --link-text: #059bc8;

    --global-curve: cubic-bezier(.53,0,0,.98);

    .dropdownIndicator img {
        mix-blend-mode: normal !important;
        filter: invert(1);
    }
    .sBtn {
        .btnImg img {
            mix-blend-mode: normal !important;
            filter: invert(1);
        }
    }
    .sBtn.appDownload {
        .btnImg img {
            mix-blend-mode: overlay !important;
            filter: unset !important;
        }
    }
    .infoIcon img {
        mix-blend-mode: normal !important;
        filter: invert(1);
    }
    .scheduleUpdateBtn img {
        filter: invert(1);
    }
    .menuBtn img {
        filter: invert(1);
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
* {
    font-family: Inter, sans-serif;
    margin: 0;
    user-select: none;
    color: white;
    scrollbar-width: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
*::-webkit-scrollbar {
    display: none;
}
a {
    color: var(--link-text);
    opacity: 1;
    transition: .15s ease
}
a:hover {
    opacity: 0.8;
}
input {
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 16px;
}

:root[android="true"] {
    .appDiv {
        padding: 50px 10px 10px 10px !important;
    }
}

@media screen and (max-width: 850px) {
    .appDiv {
        padding: 10px !important;
    }
    .mainPage {
        gap: 10px !important;
    }
    .settingsPage {
        padding: 10px !important;
    }
    .primaryGroupSelectionScreen {
        padding: 10px !important;
    }
    .settingsContent {
        max-height: 600px !important;
        .settingItem {
            flex-direction: column !important;
            align-items: flex-start !important;
            gap: 10px !important;
        }
    }
    .logoContainer {
        padding: 12px 18px !important;

        img {
            height: 30px !important;
        }
    }
    .lastUpdateContainer {
        font-size: 14px !important;
    }
    .content.sidebarHidden {
        gap: 0px !important;
        [data-spa] {
            opacity: 1 !important;
        }
        [data-sidebar-divf] {
            min-width: 0px !important;
            width: 0 !important;
        }
           }
    .content {
        [data-spa] {
            opacity: 0.5 !important;
        }
    }
    .menuBtn {
        display: flex !important;
    }
}
@media screen and (max-width: 420px) {
    .logoContainer {
        padding: 12px !important;
        span {
            width: 0 !important;
        }
    }

}
.appDiv {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--app-bg);
    box-sizing: border-box;
    padding: 60px;
    overflow: hidden;
    transition: 1s var(--global-curve);
    .mainPage {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-width: 900px;
        max-width: 900px;
        gap: 20px;
        transition: .25s var(--global-curve);
        transform: scale(1);
        position: relative;
        .headerContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 54px;
            min-height: 54px;
            max-height: 54px;
            .leftSide {
                display: flex;
                flex-direction: row;
                height: 100%;
                align-items: center;
                .menuBtn {
                    display: none;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--btn-static);
                    border-radius: 10px;
                    aspect-ratio: 1 / 1;
                    height: 100%;
                    margin-right: 5px;
                    cursor: pointer;
                    transition: .15s ease;
                    outline: 2px solid var(--btn-static-outline);
                    outline-offset: -2px;
                    z-index: 25;
                }
                .menuBtn:hover {
                    background-color: var(--btn-hover);
                }
                .menuBtn.active {
                    background-color: var(--btn-active);
                    outline: 2px solid var(--btn-active-outline);
                }
                .logoContainer {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: 12px 25px;
                    box-sizing: border-box;
                    background-color: var(--other-containers-bg);
                    border-radius: 10px;
                    color: var(--global-text);
                    font-weight: 700;
                    font-size: 16px;
                    margin-right: 15px;
                    transition: all 1s var(--global-curve);
                    img {
                        height: 40px;
                        transition: all 1s var(--global-curve);
                    }
                    span {
                        color: var(--global-text);
                        overflow: hidden;
                        width: 61px;
                        transition: all 1s var(--global-curve);
                    }
                }
                .selectedGroup {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    font-weight: 700;
                    color: var(--global-text);
                    height: 100%;
                    gap: 5px;
                    cursor: pointer;
                    img {
                        aspect-ratio: 1 / 1;
                        width: 24px;
                    }
                }
            }
            .lastUpdateContainer {
                display: flex;
                flex-direction: row;
                height: 100%;
                gap: 5px;
                .mainInfo {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    text-align: end;
                    justify-content: center;
                    height: 100%;
                    span {
                        color: var(--muted-text) !important;
                        transition: .25s ease;
                        text-shadow: 0 0 10px transparent;
                    }
                    span:nth-child(2) {
                        font-weight: 700;
                        width: fit-content;
                    }
                }
                .scheduleUpdateBtn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    height: 100%;
                    max-width: 36px;
                    width: 36px;
                    min-height: 36px;
                    background-color: var(--btn-static);
                    outline: 2px solid var(--btn-static-outline);
                    outline-offset: -2px;
                    border-radius: 10px;
                    cursor: pointer;
                    transform: rotate(-360deg);
                    transition: .15s ease;
                }
                .scheduleUpdateBtn:hover {
                    background-color: var(--btn-hover);
                }
                .scheduleUpdateBtn:active {
                    background-color: var(--btn-active);
                    outline: 2px solid var(--btn-active-outline);
                    transform: scale(0.9);
                }
            }
            .lastUpdateContainer.unavailable {
                span {
                    color: red !important;
                    text-shadow: 0 0 10px red;
                }
            }
        }
        .content {
            display: flex;
            flex-direction: row;
            gap: 20px;
            width: 100%;
            height: 100%;
            overflow: visible;
            transition: .25s var(--global-curve);
            [data-sidebar-divf] {
                transition: .5s var(--global-curve);
            }
            [data-spa] {
                /*min-width: 400px;*/
                transition: .5s var(--global-curve);
            }
            divf {
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            divf:nth-child(1) {
                max-width: 325px;
                min-width: 325px;
            }
            [data-spa] {
                justify-content: center;
                align-items: center;
                #loadSpinner {
                    position: absolute;
                    aspect-ratio: 1 / 1;
                    width: 32px;
                    transition: .15s ease;
                    opacity: 0;
                }
            }
            .sidebar {
                display: flex;
                flex-direction: column;
                height: 0;
                flex-grow: 1;
                overflow: auto;
                gap: 10px;
                border-radius: 10px;
                .sBtn {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background-color: var(--btn-static);
                    border-radius: 10px;
                    height: 50px;
                    min-height: 50px;
                    transition: .15s ease;
                    cursor: pointer;
                    outline: 2px solid var(--btn-static-outline);
                    outline-offset: -2px;
                    color: var(--global-text);
                    min-width: 325px;
                    .btnImg {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        aspect-ratio: 1 / 1;
                        img {
                            mix-blend-mode: overlay;
                        }
                    }
                }
                .sBtn:hover {
                    background-color: var(--btn-hover);
                }
                .sBtn.active {
                    background-color: var(--btn-active);
                    outline: 2px solid var(--btn-active-outline);
                    outline-offset: -2px;
                }
                .sBtn.appDownload {
                    background-color: #2d9f3f;
                    color: white !important;
                }
                .sBtn.appDownload:hover {
                    background-color: #3cda55;
                }
                .sContentDropdown {
                    display: flex;
                    flex-direction: column;
                    .sBtn.dropdownBtn .dropdownIndicator {
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 100%;
                        aspect-ratio: 1 / 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            transition: transform .25s ease;
                            transform: rotate(0deg);
                        }
                    }
                    .dropdownContent {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        padding-left: 22px;
                        box-sizing: border-box;
                        gap: 10px;
                        overflow: hidden;
                        border-radius: 10px;
                        margin-top: 10px;
                        opacity: 1;
                        transform-origin: top center;
                        transition: all .25s ease;
                        .dayBtn {
                            width: 100%;
                            border-radius: 10px;
                            position: relative;
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            cursor: pointer;
                            transition: .15s ease;
                            box-sizing: border-box;
                            padding: 15px;
                            min-width: 303px;
                            gap: 15px;
                            z-index: 1;
                            .containerBackground {
                                width: 100%;
                                height: 100%;
                                border-radius: 10px;
                                position: absolute;
                                z-index: 2;
                                background-color: var(--btn-static);
                                outline: 2px solid var(--btn-static-outline);
                                outline-offset: -2px;
                                transition: .15s ease;
                                left: 0;
                                top: 0;
                                pointer-events: none;
                            }
                            .targetDayBox {
                                display: flex;
                                text-align: center;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                gap: 3px;
                                height: 100%;
                                pointer-events: none;
                                * {
                                    color: var(--global-text)
                                }
                                .monthDay {
                                    font-size: 24px;
                                    font-weight: 700;
                                }
                                .month {
                                    font-weight: 700;
                                    font-size: 14px;
                                }
                            }
                            .addInfo {
                                display: flex;
                                flex-direction: column;
                                gap: 3px;
                                pointer-events: none;
                                .weekday {
                                    font-size: 14px;
                                    color: var(--global-text);
                                }
                                .fullDate {
                                    font-size: 12px;
                                    color: var(--additional-text)
                                }
                            }
                            .targetDayBox, .addInfo {
                                z-index: 3;
                            }

                        }
                        .dayBtn.labeled {
                            margin-bottom: 20px;
                        }
                        .dayBtn:hover .containerBackground {
                            background-color: var(--btn-hover);
                        }
                        .dayBtn.active {
                            cursor: auto;
                            .containerBackground {
                                background-color: var(--btn-active);
                                outline: 2px solid var(--btn-active-outline)
                            }
                        }
                        .dayReminderLabel {
                            position: absolute;
                            left: 0;
                            bottom: -20px;
                            display: flex;
                            align-items: center;
                            padding-top: 8px;
                            box-sizing: border-box;
                            width: 100%;
                            height: 30px;
                            background: var(--btn-weekday-label);
                            font-size: 12px;
                            border-radius: 0 0 10px 10px;
                            z-index: 1;
                            justify-content: center;
                            pointer-events: none;
                        }
                    }
                    .dropdownContent:before {
                        content: '';
                        width: 2px;
                        height: 100%;
                        position: absolute;
                        left: 10px;
                        border-radius: 2px;
                        background-color: var(--dropdown-content-side);
                    }
                }
                .sContentDropdown.active {
                    .sBtn.dropdownBtn .dropdownIndicator img {
                        transform: rotate(180deg);
                    }
                    .dropdownContent {
                        opacity: 0;
                        margin-top: 0px;
                    }
                }
            }
            .schedule {
                display: flex;
                flex-direction: column;
                position: relative;
                width: 100%;
                flex-grow: 1;
                height: 0;
                overflow: auto;
                gap: 10px;
                border-radius: 10px;
                transition: .15s ease;
                opacity: 1;
                .scheduleSubjectItem {
                    display: flex;
                    flex-direction: row;
                    border-radius: 10px;
                    background-color: var(--schedule-container-bg);
                    width: 100%;
                    height: fit-content;
                    * {
                        color: var(--global-text)
                    }
                    .subjectCounterSide {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        width: 60px;
                        min-width: 60px;
                        border-radius: 10px;
                        background-color: var(--schedule-side);
                        .part1 {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            aspect-ratio: 1 / 1;
                            width: 100%;
                            font-weight: 700;
                        }
                        .part2 {
                            height: 100%;
                        }
                    }
                    .subjectInfo {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        width: 100%;
                        height: 100%;
                        box-sizing: border-box;
                        padding: 20px;
                        .subjectInfoPart {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 15px;
                            .infoText {
                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                                .subjectInfoPartHeader {
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
                .noSubjectsScreen {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    text-align: center;
                    white-space: nowrap;
                    .h1 {
                        font-size: 24px;
                        font-weight: 700;
                        color: var(--additional-text);
                    }
                    .h2 {
                        color: var(--additional-text);
                    }
                }
                .ringSchedule {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    flex-grow: 1;
                    height: 0;
                    overflow: scroll;
                    gap: 20px;
                    box-sizing: border-box;
                    .ringPartContainer {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        .ringPartHeader {
                            font-size: 2rem;
                            font-weight: 700;
                            padding-left: 15px;
                        }
                        .ringPartGrid {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-template-rows: auto;
                            gap: 10px;
                            grid-auto-flow: row;
                            .ringBox {
                                display: flex;
                                flex-direction: row;
                                width: 100%;
                                background-color: var(--other-containers-bg);
                                height: 75px;
                                border-radius: 15px;
                                .ringCounter {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    min-width: 75px;
                                    width: 75px;
                                    height: 100%;
                                    background-color: var(--schedule-side);
                                    border-radius: 15px;
                                    font-weight: 700;
                                    font-size: 1.75rem;
                                    color: var(--global-text)
                                }
                                .ringTime {
                                    display: flex;
                                    justify-content: center;
                                    align-items: flex-start;
                                    flex-direction: column;
                                    box-sizing: border-box;
                                    font-size: 0.95rem;
                                    font-weight: 700;
                                    height: 100%;
                                    width: 100%;
                                    padding-left: 20px;
                                    * {
                                        color: var(--global-text)
                                    }
                                }
                            }
                            .ringBox.break {
                                display: flex;
                                justify-content: left !important;
                                flex-direction: column;
                                background: radial-gradient(circle at left bottom, #195823, #2D9F3F);
                                outline: 2px solid #2D9F3F;
                                outline-offset: -2px;
                                span:nth-child(1) {
                                    font-weight: 400;
                                    color: #fff !important;
                                }
                                span:nth-child(2) {
                                    font-size: 1.75rem;
                                    font-weight: 700;
                                    color: #fff !important;
                                }
                            }
                        }
                    }
                }
                .notFound {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    text-align: center;
                    .header1 {
                        color: var(--additional-text);
                        font-size: 72px;
                        font-weight: 700;
                    }
                    .desc1 {
                        color: var(--additional-text);
                        font-size: 16px;
                    }
                    .return {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 50px;
                        min-height: 50px;
                        border-radius: 10px;
                        padding: 0 20px;
                        background-color: var(--btn-static);
                        transition: .15s ease;
                        cursor: pointer;
                        color: var(--additional-text);
                        margin-top: 15px;
                    }
                    .return:hover {
                        background-color: var(--btn-hover);
                    }
                }
            }
            .schedule.hidden {
                opacity: 0;
            }
        }
        .raspDownNotifContainer {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            height: 54px;
            max-height: 54px;
            min-height: 54px;
            position: absolute;
            top: 0;
            right: 0;
            box-sizing: border-box;
            transition: .25s var(--global-curve);
            opacity: 1;
            transform: scale(1);
            z-index: 20;
            overflow: hidden;
            pointer-events: none;
            .notif {
                display: flex;
                justify-content: center;
                height: 100%;
                width: fit-content;
                max-width: calc(100% - 54px - 5px);
                box-sizing: border-box;
                padding: 0 15px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                text-align: end;
                text-wrap: stable;
                border-radius: 10px;
                transform: translateX(101%);
                transition: .5s var(--global-curve);
                background-color: #9a0000;
                outline: 1px solid red;
                outline-offset: -1px;
                pointer-events: none;
                .desc {
                    font-size: 12px;
                    color: white !important;
                }
            }
            .notif.show {
                pointer-events: all !important;
                transform: translateX(0%);
            }
        }
    }
    .mainPage.hidden {
        transform: scale(0.9);
        opacity: 0;
    }
    .settingsPage {
        position: absolute;
        display: flex;
        width: 100%;
        height: fit-content;
        max-height: 900px;
        max-width: 900px;
        align-items: center;
        justify-content: center;
        z-index: 10;
        transition: .25s var(--global-curve);
        opacity: 0;
        transform: scale(1.1);
        pointer-events: none;
        flex-direction: column;
        gap: 30px;
        box-sizing: border-box;
        padding: 60px;
        .settingsDropdownWrapper {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            display: flex;
            z-index: 20;
            .wrapperDDToggleLayer {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 21;
            }
            .dropdown {
                position: absolute;
                left: 30px;
                top: 30px;
                background-color: var(--btn-active);
                border-radius: 10px;
                padding: 50px 10px 10px 10px;
                box-sizing: border-box;
                opacity: 0;
                transform: scaleY(0.9);
                transform-origin: center top;
                transition: .15s var(--global-curve);
                .ddSearch {
                    display: flex;
                    width: 100%;
                    height: 50px;
                    min-height: 50px;
                    max-height: 50px;
                    margin-bottom: 10px;
                    input {
                        width: 100%;
                        height: 100%;
                        border: none;
                        font-size: 16px;
                        border-radius: 5px;
                        background-color: var(--btn-static);
                        outline: 2px solid var(--btn-static-outline);
                        outline-offset: -2px;
                        box-sizing: border-box;
                        padding: 20px;
                        transition: .15s ease;
                        color: var(--global-text);
                    }
                    input:hover {
                        background-color: var(--btn-hover);
                    }
                    input:focus {
                        background-color: var(--btn-active);
                        outline: 2px solid var(--btn-active-outline);
                    }
                }
                .ddContent {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    max-height: 200px;
                    overflow: auto;
                    border-radius: 5px;
                    .ddItem {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 50px;
                        max-height: 50px;
                        min-height: 50px;
                        transition: .15s ease;
                        border-radius: 5px;
                        box-sizing: border-box;
                        padding: 0 20px;
                        cursor: pointer;
                        margin-bottom: 5px;
                        background-color: var(--btn-static);
                        outline: 2px solid var(--btn-static-outline);
                        outline-offset: -2px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        color: var(--global-text);
                    }
                    .ddItem:hover {
                        background-color: var(--btn-hover);
                    }
                    .ddItem:active {
                        transform: scale(0.9);
                    }
                    .ddItem:nth-last-child(1) {
                        margin-bottom: 0 !important;
                    }
                    .ddItem.hidden {
                        display: none;
                        /* будущие анимации после оптимизации циклов в js (settings-dropdown.js, функция ddSearchEvent)*/
                        /*height: 0;*/
                        /*min-height: 0;*/
                        /*opacity: 0;*/
                        /*margin-bottom: 0;*/
                    }
                    .ddItem.selected {
                        background-color: var(--btn-active);
                        outline: 2px solid var(--btn-active-outline);
                    }
                    .searchNotFound {
                        color: var(--additional-text);
                    }
                }
            }
            .dropdown.active {
                opacity: 1;
                transform: scaleY(1);
            }
        }
        .settingsHeader {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .header {
                font-size: 32px;
                font-weight: 700;
                color: var(--global-text);
            }
            .waBtn {
                color: rgba(255 0 0 / 1);
                font-weight: 700;
                cursor: pointer;
                transition: .15s ease;
            }
            .waBtn:hover {
                color: rgba(255 0 0 / 0.75)
            }
        }
        .settingsContent {
            width: 100%;
            height: fit-content;
            max-height: 831px;
            overflow: auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .settingItem {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 25px;
                outline: 2px solid var(--btn-static-outline);
                outline-offset: -2px;
                border-radius: 10px;
                transition: .5s var(--global-curve);
                .settingItemInfo {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    .settingItemHeader {
                        font-size: 20px;
                        font-weight: 700;
                        color: var(--global-text);
                    }
                    .settingItemDesc {
                        font-size: 14px;
                        color: var(--additional-text);
                        b {
                            color: var(--additional-text);
                        }
                    }
                }
                .settingItemControlContainer {
                    display: flex;
                    .settingDropdown {
                        display: flex;
                        flex-direction: row;
                        background-color: var(--btn-static);
                        border-radius: 10px;
                        height: 50px;
                        min-height: 50px;
                        width: fit-content;
                        min-width: 275px;
                        max-width: 275px;
                        width: 100%;
                        align-items: center;
                        padding-left: 20px;
                        justify-content: space-between;
                        cursor: pointer;
                        box-sizing: border-box;
                        transition: .15s ease;
                        span {
                            color: var(--global-text);
                        }
                        .dropdownIndicator {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            aspect-ratio: 1 / 1;
                            height: 100%;
                        }
                    }
                    .settingDropdown:hover {
                        background-color: var(--btn-hover);
                    }
                    .settingDropdown.active {
                        background-color: var(--btn-active);
                    }
                    .settingInput {
                        display: flex;
                        height: 50px;
                        min-height: 50px;
                        min-width: 275px;
                        max-width: 275px;
                        width: 100%;
                        input {
                            display: flex;
                            background-color: var(--btn-static);
                            border-radius: 10px;
                            justify-content: center;
                            padding: 0 20px;
                            box-sizing: border-box;
                            border: none;
                            outline: none;
                            width: 100%;
                            height: 100%;
                            font-size: 16px;
                            transition: .15s ease;
                            outline: 2px solid var(--btn-static-outline);
                            outline-offset: -2px;
                        }
                        input:hover {
                            background-color: var(--btn-hover);
                        }
                        input:focus {
                            background-color: var(--btn-active);
                            outline: 2px solid var(--btn-active-outline);
                        }
                    }
                }
            }
            .settingItem.disabled {
                opacity: 0.6;
                pointer-events: none;
            }
            .settingItem.outlined {
                padding: 10px;
                outline: 2px solid var(--btn-active-outline);
                outline-offset: -2px;
            }
        }
        .curVer {
            color: var(--additional-text);
            font-size: 12px;
        }
    }
    .settingsPage.active {
        opacity: 1;
        transform: scale(1.0);
        pointer-events: auto;
    }
    .loadScreen {
        position: absolute;
        left: 0;
        top: 0;
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 9999;
        gap: 10px;
        transition: .5s var(--global-curve);
        svg {
            aspect-ratio: 1 / 1;
            width: 32px;
        }
        .loadingStatus {
            color: var(--additional-text);
        }
    }
    .loadScreen.hiding {
        opacity: 0;
        transform: scale(1.1);
    }
    .primaryGroupSelectionScreen {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: var(--app-bg);
        transition: all .25s var(--global-curve);
        box-sizing: border-box;
        padding: 60px;
        z-index: 8888;
        .innerContainer {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 600px;
            height: fit-content;
            .header {
                display: flex;
                width: 100%;
                font-size: 32px;
                font-weight: 700;
                margin-bottom: 20px;
            }
            .searchBox {
                display: flex;
                width: 100%;
                height: 50px;
                margin-bottom: 20px;
                input {
                    background-color: var(--btn-static);
                    outline: 2px solid var(--btn-static-outline);
                    border: none;
                    border-radius: 10px;
                    outline-offset: -2px;
                    transition: .15s ease;
                    width: 100%;
                    height: 100%;
                }
                input:hover {
                    background-color: var(--btn-hover);
                }
                input:focus {
                    background-color: var(--btn-active);
                    outline: 2px solid var(--btn-active-outline);
                }
            }
            .groupsContainer {
                display: flex;
                flex-direction: row;
                gap: 10px;
                flex-wrap: wrap;
                max-height: 400px;
                overflow: auto;
                overflow-x: hidden;
                transition: height .25s var(--global-curve);
                .groupItem {
                    background-color: var(--btn-static);
                    border-radius: 50px;
                    transition: .15s ease;
                    min-height: 40px;
                    padding: 0 15px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .groupItem:hover {
                    background-color: var(--btn-hover);
                }
                .groupItem:active {
                    transform: scale(0.9);
                }
            }
        }

    }
}
